//TODO: figure out how to make this dynamic (for dynamic theme-chaning on-site)
// color scheme

$accent: #000;
$accent2: #f0f0f0;
$outline: rgba(0, 0, 0, .2);
$background: #9efdf5;
$text: #4D4D4D;
$title: #000;

