{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <!-- SEO -->
        {% if page.title %}
        <title> {{ page.title }} | {{ config.title }} </title>
        {% else %}
        <title> {{ config.title }} </title>
        {% endif %}

        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" >

        <!-- js -->
        <script src="{{ config.base_url }}/theme_selector.js"></script>
        <script src="https://kit.fontawesome.com/{{ config.extra.font_awesome.kit }}.js" crossorigin="anonymous"></script>

        <!--  css -->
        <link id="themeCSS" rel="stylesheet"
                            href="{{ config.base_url }}/{% if config.extra.color_themes %}{{ config.extra.color_themes[0] }}{% else %}default{% endif%}.css"
                            />

        <!-- fonts -->
        <!-- preload  -->
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,500,500i,600,700,800,900|Raleway" as="style">
        <!-- load -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,500,500i,600,700,800,900|Raleway">
        {% endblock head %}

        {% block rss %}
        {% if config.generate_feeds %}
        <link rel="alternate" type="{{ macros::feed_mimetype(feed_filename=config.feed_filenames[0]) }}" title="{{ config.title }} RSS" href="{{ get_url(path=config.feed_filenames[0], trailing_slash=false) }}">
        {% endif %}
        {% endblock rss %}
    </head>

    <body onload="main();">
      {% include "menu.html" %}

      {% block content %} {% endblock content %}
      {% block pagination %} {% endblock pagination %}

      <footer>
        {% block footer %}
          {% set base_url = get_url(path="/", lang=lang) %}
          {{ macros::mini_logo(classes="", title=config.title, siteurl=base_url, logourl=config.extra.profile) }}
          {{ macros::social_list(classes="foot_list", bsize="extra_small") }}
          {{ macros::theme_selector(themes=config.extra.color_themes) }}
        {% endblock footer %}
      </footer>
    </body>
</html>
