{% macro theme_selector(themes) %}
<select id="theme_selector" size=1>
    <option value="{{themes[0]}}" selected>{{themes[0]}}</option>
    {% for theme in themes | slice(start=1) %}
    <option value="{{theme}}">{{theme}}</option>
    {% endfor %}
</select>
{% endmacro theme_selector %}

{% macro mini_logo(classes, title, siteurl, logourl) %}
<figure class="mini_logo {{ classes }}">
    <a href="{{siteurl}}" style="background-image: url({{siteurl}}/img/{{logourl}})"></a>
</figure>
<h5>
    <a href="{{siteurl}}">{{title}}</a>
</h5>
{% endmacro mini_logo %}

<!-- classes=any extra styling, bsize=buttonsize, extra=config.extra, siteurl=config.base_url -->
{% macro social_list(classes, bsize, extra, siteurl) %}
<ul class="social_list {{classes}}" >
    {% if extra.website %}
    <li class="button {{bsize}} font_faint"><a href="https://{{extra.website}}" target="_blank">{{extra.website}}</a></li>
    {% endif %}
    {% if extra.github %}
    <li class="button {{bsize}} font_faint"><a href="https://github.com/{{extra.github}}" target="_blank" >{{extra.github}}</a><i class="fab fa-github" ></i></li>
    {% endif %}
    {% if extra.gitlab %}
    <li class="button {{bsize}} font_faint"><a href="https://gitlab.com/{{extra.gitlab}}" target="_blank" >{{extra.gitlab}}</a><i class="fab fa-gitlab" ></i></li>
    {% endif %}
    {% if extra.twitter %}
    <li class="button {{bsize}} font_faint"><a href="https://twitter.com/{{extra.twitter}}" target="_blank">@{{extra.twitter}}</a><i class="fab fa-twitter" ></i></li>
    {% endif %}
    {% if extra.telegram %}
    <li class="button {{bsize}} font_faint"><a href="https://t.me/{{extra.telegram}}" target="_blank">@{{extra.telegram}}</a><i class="fab fa-telegram" ></i></li>
    {% endif %}
    {% if extra.vk %}
    <li class="button {{bsize}} font_faint"><a
            href="https://vk.com/{{extra.vk}}"
            target="_blank">@{{extra.vk}}</a><i class="fab fa-vk" ></i></li>
    {% endif %}
    {% if extra.instagram %}
    <li class="button {{bsize}} font_faint"><a href="https://instagram.com/{{extra.instagram}}"  target="_blank">{{extra.instagram}}</a><i class="fab fa-instagram" ></i></li>
    {% endif %}
    {% if extra.youtube %}
    <li class="button {{bsize}} font_faint"><a href="https://youtube.com/channel/{{extra.youtube}}" target="_blank" >{{extra.youtube}}<i class="fab fa-youtube" ></i></a></li>
    {% endif %}
    {% if extra.linkedin %}
    <li class="button {{bsize}} font_faint"><a href="https://www.linkedin.com/in/{{extra.linkedin}}" target="_blank">{{extra.linkedin}}</a><i class="fab fa-linkedin" ></i></li>
    {% endif %}
    {% if extra.reddit %}
    <li class="button {{bsize}} font_faint"><a href="https://www.reddit.com/u/{{extra.reddit}}" target="_blank">{{extra.reddit}}</a><i class="fab fa-reddit" ></i></li>
    {% endif %}
    {% if extra.keybase %}
    <li class="button {{bsize}} font_faint"><a href="https://keybase.io/{{extra.keybase}}" target="_blank" >{{extra.keybase}}</a><i class="fab fa-keybase" ></i></li>
    {% endif %}
    {% if extra.email %}
    <li class="button {{bsize}} font_faint"><a href="mailto:{{extra.email}}?subject=hi" target="_blank">say hello</a><i class="fas fa-envelope" ></i></li>
    {% endif %}
</ul>
{% endmacro social_list %}

{% macro frontmatter(classes, date, word_count, read_time) %}
<ul class="frontmatter {{classes}}" id="frontmatter">
    <li>
        <time class="article_time"  datetime="{{date}}">{{ date | date(format="%B %d, %Y") }}</time>
    </li>
    <span class="dotDivider"></span>
    <li> {{word_count}} words </li>
    <span class="dotDivider" ></span>
    <li> {{read_time}} min </li>
</ul>
{% endmacro frontmatter %}

{% macro menu(title, siteurl, extra) %}
<input type="checkbox" id="openSidebarMenu" class="openSidebarMenu">
<label class="menu cross menu--1" for="openSidebarMenu">
    <svg viewBox="0 0 75 75" xmlns="https://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="30" />
        <path class="line--1" d="M0 40h62c13 0 6 28-4 18L35 35" />
        <path class="line--2" d="M0 50h70" />
        <path class="line--3" d="M0 60h62c13 0 6-28-4-18L35 65" />
    </svg>
</label>

<div id="sidebarMenu">
    <div class="menu_wrapper">
        <ul class="sidebarMenuInner">
            <li>
                <a href="{{siteurl}}" >{{title}}</a>
                <div class="menu_div" ></div>
            </li>
            {% if extra.website %}
            <li><a href="https://{{extra.website}}" target="_blank">{{extra.website}}</a></li>
            {% endif %}
            {% if extra.github %}
            <li><a href="https://github.com/{{extra.github}}" target="_blank" >{{extra.github}}</a><i class="fab fa-github" ></i></li>
            {% endif %}
            {% if extra.twitter %}
            <li><a href="https://twitter.com/{{extra.twitter}}" target="_blank">@{{extra.twitter}}</a><i class="fab fa-twitter" ></i></li>
            {% endif %}
            {% if extra.instagram %}
            <li><a href="https://instagram.com/{{extra.instagram}}"  target="_blank">{{extra.instagram}}</a><i class="fab fa-instagram" ></i></li>
            {% endif %}
            {% if extra.youtube %}
            <li><a href="https://youtube.com/channel/{{extra.youtube}}" target="_blank" >{{extra.youtube}}<i class="fab fa-youtube" ></i></a></li>
            {% endif %}
            {% if extra.linkedin %}
            <li><a href="https://www.linkedin.com/in/{{extra.linkedin}}" target="_blank">{{extra.linkedin}}</a><i class="fab fa-linkedin" ></i></li>
            {% endif %}
            {% if extra.reddit %}
            <li><a href="https://www.reddit.com/u/{{extra.reddit}}" target="_blank">{{extra.reddit}}</a><i class="fab fa-reddit" ></i></li>
            {% endif %}
            {% if extra.keybase %}
            <li><a href="https://keybase.io/{{extra.keybase}}" target="_blank">{{extra.keybase}}</a><i class="fab fa-keybase" ></i></li>
            {% endif %}
            {% if extra.email %}
            <li><a href="mailto:{{extra.email}}?subject=hi" target="_blank">say hello</a><i class="fas fa-envelope" ></i></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endmacro menu %}

{% macro country_flag(language) %}
{% if language == "en" %}
{% set language = "us" %}
{% endif %}
<img src="https://www.countryflags.io/{{language}}/flat/64.png"/>
{% endmacro country_flag %}
