<!-- <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu"> -->
<!-- openSidebarMenu -->
<!-- <label for="openSidebarMenu" class="sidebarIconToggle"> -->
<!-- <div class="spinner diagonal part-1"></div> -->
<!-- <div class="spinner horizontal"></div> -->
<!-- <div class="spinner diagonal part-2"></div> -->
<!-- </label> -->
<!-- <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu"> -->

<input type="checkbox" id="openSidebarMenu" class="openSidebarMenu">
<label class="menu cross menu--1" for="openSidebarMenu">
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="30" />
        <path class="line--1" d="M0 40h62c13 0 6 28-4 18L35 35" />
        <path class="line--2" d="M0 50h70" />
        <path class="line--3" d="M0 60h62c13 0 6-28-4-18L35 65" />
    </svg>
</label>

<div id="sidebarMenu">
    <div class="menu_wrapper">
    <ul class="sidebarMenuInner">
        <li>
            {% block side_name %} {{config.title}} {% endblock side_name %}
            <div class="menu_div" ></div>
        </li>
        {% block social_media %}
        {% if config.extra.website %}
        <li><a href="http://{{config.extra.website}}" target="_blank">{{config.extra.website}}</a></li>
        {% endif %}
        {% if config.extra.github %}
        <li><a href="https://github.com/{{config.extra.github}}" target="_blank" >{{config.extra.github}}</a><i class="fab fa-github" ></i></li>
        {% endif %}
        {% if config.extra.twitter %}
        <li><a href="https://twitter.com/{{config.extra.twitter}}" target="_blank">@{{config.extra.twitter}}</a><i class="fab fa-twitter" ></i></li>
        {% endif %}
        {% if config.extra.instagram %}
        <li><a href="https://instagram.com/{{config.extra.instagram}}"  target="_blank">{{config.extra.instagram}}</a><i class="fab fa-instagram" ></i></li>
        {% endif %}
        {% if config.extra.youtube %}
        <li><a href="https://youtube.com/channel/{{config.extra.youtube}}" target="_blank" >{{config.extra.youtube}}<i class="fab fa-youtube" ></i></a></li>
        {% endif %}
        {% if config.extra.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{config.extra.linkedin}}" target="_blank">{{config.extra.linkedin}}</a><i class="fab fa-linkedin" ></i></li>
        {% endif %}
        {% if config.extra.email %}
        <li><a href="mailto:{{config.extra.email}}?subject=hi" target="_blank">say hello</a><i class="fas fa-envelope" ></i></li>
        {% endif %}
        {% if config.generate_rss %}
        <li><a href="{{config.base_url}}/rss.xml" target ="_blank">rss</a><i class="fas fa-rss" ></i></li>
        {% endif %}
        {% endblock social_media %}
    </ul>
    </div>
</div>
