{% import "macros.html" as macros %}

{% block menu %}
<input type="checkbox" id="openSidebarMenu" class="openSidebarMenu">
<label class="menu cross menu--1" for="openSidebarMenu">
    <svg viewBox="0 0 75 75" xmlns="https://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="30" />
        <path class="line--1" d="M0 40h62c13 0 6 28-4 18L35 35" />
        <path class="line--2" d="M0 50h70" />
        <path class="line--3" d="M0 60h62c13 0 6-28-4-18L35 65" />
    </svg>
</label>

<div id="sidebarMenu">
    <div class="menu_wrapper">
        <ul class="sidebarMenuInner">
            <li>
                <a href="{{ config.base_url }}" >{{ config.title }}</a>
                <div class="menu_div" ></div>
            </li>
            {% include "partials/menu-extra.html" %}
            {{ macros::social_common(classes="", icon_class="fab") }}
        </ul>
    </div>
</div>
{% endblock menu %}
